html, body {
    margin: 0;
    padding: 0;
    position: fixed;
    background-color: rgba(250, 243, 240, 1); /* checar opacidad */
}

#background {
    position: absolute;
    z-index: -1;
}
/*
#agua {
    background: url('../img/agua.jpg');
    width: 200%;
    height: 200vh;
}
*/
h1 {
    text-align: center;
    color: #FFFADD;
    /* font-size: 1.2em; */
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2, em {
    width: 100%;
    display: none;
    visibility: hidden;
}

#rnbo-root {
    margin: 12px;
    max-width: 98vw;
    height: 98vh;
    box-sizing: border-box;
}

.cinco select {
    margin: 3px 0 12px 4px;
    padding: 7px;
    border-radius: 50px;
    background-color: #FF355D;
    border: 7px solid #FFF5E0;
    font-family: sans-serif;
    font-weight: bolder;
    color: #FFD1DA;
}

#rnbo-parameter-sliders {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: self-start;
}

#rnbo-parameter-sliders > div {
    display: flex;
    margin: 0;
    padding: 0;
}

input[type="range"] {
    margin: 0;
    padding: 0;
    appearance: none; /* -webkit-appearance */
    width: auto;
    height: 21px;
    border: 7px solid;
    transition: 0.7s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 21px;
    height: 21px;
    border: 7px solid;
    border-radius: 50%;
    cursor: grab;
    z-index: 3;
}

#gainnoise {
    background-color: #61677A;
    border-color: #D8D9DA;
    width: 230px;
    height: 44px;
}

#gainnoise::-webkit-slider-thumb {
    background-color: #272829;
    border: 7px solid #FFF6E0;
    border-radius: 0px;
    height: 44px;
}

#cyclefreq {
    border-radius: 50px;
    border-color: #61677A;
    transform: rotate(10deg);
    background-color: #D8D9DA;
}

#cyclefreq::-webkit-slider-thumb {
    border-color: #FFF6E0;
    background-color: #FFF6E0;
}

#phascycfreq {
    border-radius: 50px;
    border-color: #D8D9DA;
    transform: rotate(-10deg);
    background-color: #FFF6E0;
}

#phascycfreq::-webkit-slider-thumb {
    border-color: #61677A;
    background-color: #61677A;
}

#ondadelpaisa\/ondacampaon {
    border-radius: 50%;
    border-color: #AAC8A7;
    background-color: #C3EDC0;
}

#ondadelpaisa\/ondacampaon:hover {
    border-radius: 3px;
}

#ondadelpaisa\/ondacampaon::-webkit-slider-thumb {
    background-color: #E9FFC2;
    border-color: #FDFFAE;
}

.ondaoncampana {
    animation: campana 7s ease-in-out infinite;
}

@keyframes campana {
    0% {
        background-color: #C3EDC0;
    }
    25% {
        background-color: #E9FFC2;
    }
    50% {
        background-color: #FDFFAE;
    }
    75% {
        background-color: #AAC8A7;
    }
    100% {
        background-color: #C3EDC0;
    }
}

#ondadelpaisa\/ondacamp {
    width: 80px;
    height: 80px;
    transform: rotate(90deg);
    border-color: #FDFFAE;
    border-radius: 50% 50% 50% 0;
    background-color: #AAC8A7;
}

#ondadelpaisa\/ondacamp:hover {
    border-radius: 50% 50% 0 50%;
}

#ondadelpaisa\/ondacamp::-webkit-slider-thumb {
    background-color: #C3EDC0;
    border-radius: 50% 50% 50% 0;
    border-color: #E9FFC2;
}

#ondadelpaisa\/phascyclecamp {
    width: 80px;
    height: 80px;
    transform: rotate(270deg);
    border-color: #C3EDC0;
    border-radius: 50% 50% 50% 0;
    background-color: #FDFFAE;
}

#ondadelpaisa\/phascyclecamp:hover {
    border-radius: 50% 50% 0 50%;
}

#ondadelpaisa\/phascyclecamp::-webkit-slider-thumb {
    background-color: #E9FFC2;
    border-radius: 50% 50% 50% 0;
    border-color: #AAC8A7;
}

#ondadelpaisa\/pancamp {
    height: 5px;
    border: none;
    transform: rotate(90deg);
    background-color: #C3EDC0;
}

#ondadelpaisa\/pancamp:hover {
    rotate: 7deg;
    scale: 1.2;
}

#ondadelpaisa\/pancamp::-webkit-slider-thumb {
    background-color: transparent;
    border-color: #C3EDC0;
    border-top: 17px solid transparent;
    border-right: 17px solid #AAC8A7;
    border-bottom: 17px solid transparent;
}

#ondadelpaisa\/ondasemaon {
    border-color: #F57328;
    border-radius: 50%;
    background-color: #CC3636;
}

#ondadelpaisa\/ondasemaon:hover {
    border-radius: 3px;
}

#ondadelpaisa\/ondasemaon::-webkit-slider-thumb {
    background-color: #FFE9A0;
    border-color: #367E18;
}

.ondasemaforo {
    animation: semaforo 7s ease-in-out infinite;
}

@keyframes semaforo {
    0% {
        background-color: #CC3636;
    }
    25% {
        background-color: #F57328;
    }
    50% {
        background-color: #367E18;
    }
    75% {
        background-color: #FFE9A0;
    }
    100% {
        background-color: #CC3636;
    }
}

#ondadelpaisa\/ondasema {
    width: 80px;
    height: 80px;
    transform: rotate(90deg);
    border-color: #CC3636;
    border-radius: 50% 50% 50% 0;
    background-color: #F57328;
}

#ondadelpaisa\/ondasema:hover {
    border-radius: 50% 50% 0 50%;
    rotate: 30deg;
}

#ondadelpaisa\/ondasema::-webkit-slider-thumb {
    border-radius: 50% 50% 50% 0;
    background-color: #367E18;
    border-color: #FFE9A0;
}

#ondadelpaisa\/phascysema {
    width: 80px;
    height: 80px;
    transform: rotate(270deg);
    border-color: #F57328;
    border-radius: 50% 50% 50% 0;
    background-color: #FFE9A0;
}

#ondadelpaisa\/phascysema:hover {
    border-radius: 50% 50% 0 50%;
    rotate: -7deg;
}

#ondadelpaisa\/phascysema::-webkit-slider-thumb {
    border-radius: 50% 50% 50% 0;
    background-color: #CC3636;
    border-color: #367E18;
}

#ondadelpaisa\/pansema {
    height: 5px;
    border: none;
    transform: rotate(90deg);
    background-color: #367E18;
}

#ondadelpaisa\/pansema:hover {
    rotate: 21deg;
    scale: 1.5;
}

#ondadelpaisa\/pansema::-webkit-slider-thumb {
    background-color: transparent;
    border-color: #CC3636;
    border-top: 17px solid transparent;
    border-right: 17px solid #FFE9A0;
    border-bottom: 17px solid transparent;
}

#ondadelpaisa\/ondaambuon {
    border-radius: 50%;
    border-color: #FFFADD;
    background-color: #FFCC70;
}

#ondadelpaisa\/ondaambuon:hover {
    border-radius: 3px;
}

#ondadelpaisa\/ondaambuon::-webkit-slider-thumb {
    border-color: #8ECDDD;
    background-color: #4F709C;
}

.ondaambulancia {
    animation: ambulancia 7s ease-in-out infinite;
}

@keyframes ambulancia {
    0% {
        background-color: #FFCC70;
    }
    25% {
        background-color: #8ECDDD;
    }
    50% {
        background-color: #FFFADD;
    }
    75% {
        background-color: #4F709C;
    }
    100% {
        background-color: #FFCC70;
    }
}

#ondadelpaisa\/ondaambu {
    width: 80px;
    height: 80px;
    transform: rotate(90deg);
    border-color: #8ECDDD;
    border-radius: 50% 50% 50% 0;
    background-color: #FFFADD;
}

#ondadelpaisa\/ondaambu:hover {
    border-radius: 50% 0 0 50%;
    rotate: -9deg;
}

#ondadelpaisa\/ondaambu::-webkit-slider-thumb {
    border-radius: 50% 50% 50% 0;
    border-color: #4F709C;
    background-color: #FFCC70;
}

#ondadelpaisa\/phascycambu {
    width: 80px;
    height: 80px;
    transform: rotate(270deg);
    border-color: #22668D;
    border-radius: 50% 50% 50% 0;
    background-color: #8ECDDD;
}

#ondadelpaisa\/phascycambu:hover {
    border-radius: 50% 0 0 50%;
    rotate: 13deg;
}

#ondadelpaisa\/phascycambu::-webkit-slider-thumb {
    border-radius: 50% 50% 50% 0;
    border-color: #FFCC70;
    background-color: #FFFADD;
}

#ondadelpaisa\/panambu {
    height: 5px;
    border: none;
    transform: rotate(3deg);
    background-color: #FFCC70;
}

#ondadelpaisa\/panambu:hover {
    rotate: -13deg;
    scale: 1.2;
}

#ondadelpaisa\/panambu::-webkit-slider-thumb {
    background-color: transparent;
    border-color: #8ECDDD;
    border-top: 17px solid transparent;
    border-right: 17px solid  #22668D;
    border-bottom: 17px solid transparent;
}

#ondadelpaisa\/panambu2 {
    height: 5px;
    border: none;
    transform: rotate(270deg);
    background-color: #8ECDDD;
}

#ondadelpaisa\/panambu2:hover {
    rotate: -13deg;
    scale: 1.7;
}

#ondadelpaisa\/panambu2::-webkit-slider-thumb {
    background-color: transparent;
    border-color: #FFFADD;
    border-top: 17px solid transparent;
    border-right: 17px solid #FFCC70;
    border-bottom: 17px solid transparent;
}

#ondadelpaisa\/ondatrenon {
    border-radius: 50%;
    border-color: #3F1D38;
    background-color: #E19898;
}

#ondadelpaisa\/ondatrenon:hover {
    border-radius: 3px;
}

#ondadelpaisa\/ondatrenon::-webkit-slider-thumb {
    border-color: #A2678A;
    background-color: #4D3C77;
}

.ondatren {
    animation: tren 7s ease-in-out infinite;
}

@keyframes tren {
    0% {
        background-color: #E19898;
    }
    25% {
        background-color: #A2678A;
    }
    50% {
        background-color: #3F1D38;
    }
    75% {
        background-color: #4D3C77;
    }
    100% {
        background-color: #E19898;
    }
}

#ondadelpaisa\/ondatren {
    width: 80px;
    height: 80px;
    transform: rotate(90deg);
    border-color: #E19898;
    border-radius: 50% 50% 50% 0;
    background-color: #A2678A;
}

#ondadelpaisa\/ondatren::-webkit-slider-thumb {
    border-radius: 50% 50% 50% 0;
    border-color: #4D3C77;
    background-color: #3F1D38;
}

#ondadelpaisa\/ondatren:hover {
    border-radius: 50% 30% 0 7%;
    rotate: 26deg;
}

#ondadelpaisa\/phascytren {
    width: 80px;
    height: 80px;
    transform: rotate(270deg);
    border-color: #4D3C77;
    border-radius: 50% 50% 50% 0;
    background-color: #3F1D38;
}

#ondadelpaisa\/phascytren:hover {
    border-radius: 0 30% 50% 7%;
    rotate: -31deg;
}

#ondadelpaisa\/phascytren::-webkit-slider-thumb {
    border-radius: 50% 50% 50% 0;
    border-color: #A2678A;
    background-color: #E19898;
}

#ondadelpaisa\/pantren {
    height: 5px;
    border: none;
    transform: rotate(12deg);
    background-color: #4D3C77;
}

#ondadelpaisa\/pantren:hover {
    rotate: -8deg;
    scale: 1.2;
}

#ondadelpaisa\/pantren::-webkit-slider-thumb {
    background-color: transparent;
    border-color: #E19898;
    border-top: 17px solid transparent;
    border-right: 17px solid #A2678A;
    border-bottom: 17px solid transparent;
}

#ondadelpaisa\/ondavion {
    border-radius: 50%;
    background-color: #B6FFFA;
    border-color: #98E4FF;
}

#ondadelpaisa\/ondavion:hover {
    border-radius: 3px;
}

#ondadelpaisa\/ondavion::-webkit-slider-thumb {
    border-color: #687EFF;
    background-color: #80B3FF;
}

.ondaavion {
    animation: avion 7s ease-in-out infinite;
}

@keyframes avion {
    0% {
        background-color: #B6FFFA;
    }
    25% {
        background-color: #80B3FF;
    }
    50% {
        background-color: #687EFF;
    }
    75% {
        background-color: #98E4FF;
    }
    100% {
        background-color: #B6FFFA;
    }
}

#ondadelpaisa\/ondaavio {
    width: 80px;
    height: 80px;
    transform: rotate(90deg);
    border-radius: 50% 50% 50% 0;
    background-color: #687EFF;
    border-color: #80B3FF;
}

#ondadelpaisa\/ondaavio:hover {
    border-radius: 0 100% 7% 50%;
    rotate: -31deg;
}

#ondadelpaisa\/ondaavio::-webkit-slider-thumb {
    border-radius: 50% 50% 50% 0;
    border-color: #B6FFFA;
    background-color: #98E4FF;
}

#ondadelpaisa\/phasavio {
    width: 80px;
    height: 80px;
    transform: rotate(270deg);
    border-radius: 50% 50% 50% 0;
    border-color: #B6FFFA;
    background-color: #80B3FF;
}

#ondadelpaisa\/phasavio:hover {
    border-radius: 0 100% 7% 50%;
    rotate: 31deg;
}

#ondadelpaisa\/phasavio::-webkit-slider-thumb {
    border-radius: 50% 50% 50% 0;
    border-color: #98E4FF;
    background-color: #687EFF;
}

#ondadelpaisa\/panavion {
    height: 5px;
    border: none;
    transform: rotate(90deg);
    background-color: #687EFF;
}

#ondadelpaisa\/panavion:hover {
    rotate: 8deg;
    scale: 1.7;
}

#ondadelpaisa\/panavion::-webkit-slider-thumb {
    background-color: transparent;
    border-color: #98E4FF;
    border-top: 17px solid transparent;
    border-right: 17px solid #B6FFFA;
    border-bottom: 17px solid transparent;
}

#paisaje\/gainwave {
    background-color: #B6FFFA;
    border-color: #FFE9A0;
    width: 230px;
    height: 44px;
}

#paisaje\/gainwave:hover {
    background-color: #FFE9A0;
    border-color: #8ECDDD;
}

#paisaje\/gainwave::-webkit-slider-thumb {
    background-color: #4D3C77;
    border: 7px solid #CC3636;
    border-radius: 0px;
    height: 44px;
    transition: 0.7s ease-in-out;
}

#paisaje\/gainwave::-webkit-slider-thumb:hover {
    background-color: #F57328;
    border-color: #AAC8A7;
}

#paisaje\/playcamp {
    background-color: #AAC8A7;
    border-color: #FDFFAE;
}

#paisaje\/stopcamp {
    background-color: #E9FFC2;
    border-color: #C3EDC0;
}

#paisaje\/numcamp {
    border-color: #E9FFC2;
    background-color: #FDFFAE;
}

#paisaje\/numcamp:hover {
    border-radius: 3px;
}

#paisaje\/numcamp::-webkit-slider-thumb {
    border-radius: 0px;
    width: 10px;
    border-color: #AAC8A7;
}

#paisaje\/playsema {
    background-color: #367E18;
    border-color: #FFE9A0;
}

#paisaje\/stopsema {
    background-color: #CC3636;
    border-color: #367E18;
}

#paisaje\/numsema {
    background-color: #FFE9A0;
    border-color: #F57328;
}

#paisaje\/numsema::-webkit-slider-thumb {
    border-radius: 0px;
    width: 10px;
    border-color: #367E18;
}

#paisaje\/playamb {
    background-color: #22668D;
    border-color: #FFFADD;
}

#paisaje\/stopamb {
    background-color: #8ECDDD;
    border-color: #FFCC70;
}

#paisaje\/numamb {
    background-color: #8ECDDD;
    border-color: #22668D;
}

#paisaje\/numamb:hover {
    border-radius: 3px;
}

#paisaje\/numamb::-webkit-slider-thumb {
    border-radius: 0px;
    width: 10px;
    border-color: #FFCC70;
}

#paisaje\/playtren {
    background-color: #4D3C77;
    border-color: #3F1D38;
}

#paisaje\/stoptren {
    background-color: #A2678A;
    border-color: #E19898;
}

#paisaje\/numtren {
    background-color: #3F1D38;
    border-color: #4D3C77;
}

#paisaje\/numtren:hover {
    border-radius: 3px;
}

#paisaje\/numtren::-webkit-slider-thumb {
    border-radius: 0px;
    width: 10px;
    border-color: #E19898;
}

#paisaje\/playavion {
    background-color: #687EFF;
    border-color: #B6FFFA;
}

#paisaje\/stopavion {
    background-color: #B6FFFA;
    border-color: #98E4FF;
}

#paisaje\/numavion {
    background-color: #80B3FF;
    border-color: #B6FFFA;
}

#paisaje\/numavion:hover {
    border-radius: 3px;
}

#paisaje\/numavion::-webkit-slider-thumb {
    border-radius: 0px;
    width: 10px;
    border-color: #687EFF;
}

#paisaje\/playcamp,
#paisaje\/playsema,
#paisaje\/playamb,
#paisaje\/playtren,
#paisaje\/playavion {
    width: 100px;
    height: 100px;
}

#paisaje\/stopcamp,
#paisaje\/stopsema,
#paisaje\/stopamb,
#paisaje\/stoptren,
#paisaje\/stopavion {
    width: 30px;
    height: 100px;
}

#paisaje\/playcamp::-webkit-slider-thumb,
#paisaje\/playsema::-webkit-slider-thumb,
#paisaje\/playamb::-webkit-slider-thumb,
#paisaje\/playtren::-webkit-slider-thumb,
#paisaje\/playavion::-webkit-slider-thumb,
#paisaje\/stopcamp::-webkit-slider-thumb,
#paisaje\/stopsema::-webkit-slider-thumb,
#paisaje\/stopamb::-webkit-slider-thumb,
#paisaje\/stoptren::-webkit-slider-thumb,
#paisaje\/stopavion::-webkit-slider-thumb  {
    visibility: hidden;
}

#thegranulator\/density {
    border-radius: 50px 0 0 0;
    background-color: #F94C66;
    border-color: #FFC54D;
}

#thegranulator\/density::-webkit-slider-thumb {
    border-radius: 50px 0 0 0;
    border-color: #53BF9D;
    background-color: #BD4291;
}

#thegranulator\/grain_size {
    border-radius: 0 50px 0 0;
    background-color: #BD4291;
    border-color: #53BF9D;
}

#thegranulator\/grain_size::-webkit-slider-thumb {
    border-radius: 0 50px 0 0;
    border-color: #FFC54D;
    background-color: #F94C66;
}

#thegranulator\/pitch {
    border-radius: 0 0 0 50px;
    background-color: #BD4291;
    border-color: #53BF9D;
}

#thegranulator\/pitch::-webkit-slider-thumb {
    border-radius: 0 0 0 50px;
    border-color: #FFC54D;
    background-color: #F94C66;
}

#thegranulator\/position {
    border-radius: 0 0 50px 0;
    background-color: #F94C66;
    border-color: #FFC54D;
}

#thegranulator\/position::-webkit-slider-thumb {
    border-radius: 0 0 50px 0;
    border-color: #53BF9D;
    background-color: #BD4291;
}

#thegranulator\/spray {
    height: 5px;
    border: none;
    transform: rotate(45deg);
    background-color: #BD4291;
}

#thegranulator\/spray::-webkit-slider-thumb {
    width: 10px;
    border-radius: 3px;
    border-color: #FFC54D;
}

#thegranulator\/spread {
    height: 5px;
    border: none;
    transform: rotate(45deg);
    background-color: #FFC54D;
}

#thegranulator\/spread::-webkit-slider-thumb {
    width: 10px;
    border-radius: 3px;
    border-color: #F94C66;
}

#thegranulator\/stereo_spread {
    height: 5px;
    border: none;
    transform: rotate(135deg);
    background-color: #F94C66;
}

#thegranulator\/stereo_spread::-webkit-slider-thumb {
    width: 10px;
    border-radius: 3px;
    border-color: #53BF9D;
    background-color: #FFC54D;
}

#thegranulator\/gaingran {
    background-color: #53BF9D;
    border-color: #BD4291;
    width: 230px;
    height: 44px;
}

#thegranulator\/gaingran::-webkit-slider-thumb {
    background-color: #F94C66;
    border: 7px solid #FFC54D;
    border-radius: 0px;
    height: 44px;
}

.visualNoise {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('../img/noise0.jpg') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation 12s infinite; /* nombre de la animación */
    opacity: .3;
    visibility: visible;
    z-index: -1;
  }

@keyframes bg-animation {
      0% { transform: translate(0,0) }
      10% { transform: translate(-5%,-5%) }
      20% { transform: translate(-10%,5%) }
      30% { transform: translate(5%,-10%) }
      40% { transform: translate(-5%,15%) }
      50% { transform: translate(-10%,5%) }
      60% { transform: translate(15%,0) }
      70% { transform: translate(0,10%) }
      80% { transform: translate(-15%,0) }
      90% { transform: translate(10%,5%) }
      100% { transform: translate(0, 0) }
}

.visualGran {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('../img/noise3.jpg') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation-gran 44s infinite; /* nombre de la animación */
    opacity: .3;
    visibility: visible;
    z-index: -1;
}

@keyframes bg-animation-gran {
      0% { transform: translate(0,0) }
      10% { transform: translate(-5%,-5%) }
      20% { transform: translate(-10%,5%) }
      30% { transform: translate(5%,-10%) }
      40% { transform: translate(-5%,15%) }
      50% { transform: translate(-10%,5%) }
      60% { transform: translate(15%,0) }
      70% { transform: translate(0,10%) }
      80% { transform: translate(-15%,0) }
      90% { transform: translate(10%,5%) }
      100% { transform: translate(0, 0) }
}

.agua {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('../img/agua3.jpg') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation-agua 21s infinite; /* nombre de la animación */
    opacity: .3;
    visibility: visible;
    z-index: -1;
}

@keyframes bg-animation-agua {
      0% { transform: translate(0,0) }
      10% { transform: translate(-5%,-5%) }
      20% { transform: translate(-10%,5%) }
      30% { transform: translate(5%,-10%) }
      40% { transform: translate(-5%,15%) }
      50% { transform: translate(-10%,5%) }
      60% { transform: translate(15%,0) }
      70% { transform: translate(0,10%) }
      80% { transform: translate(-15%,0) }
      90% { transform: translate(10%,5%) }
      100% { transform: translate(0, 0) }
}

.rotate {
    transition: all 0.7s ease-in-out;
    animation: rotate 7s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

.ondaon {
    animation: onda 12s linear infinite;
}